<div class="text-center row">
    <div class="col">
        <h1>Register</h1>
        <partial name="RegistrationPartial" />
    </div>
    <div class="col">
        <h1>Login</h1>
        <partial name="LoginPartial" />
    </div>
</div>
