@model Auction
<div class="row">
    <h1>New Auction</h1>
</div>
<br>
<div class="row">
    <form action="/AddAuction" method="post">
        <div class="form-group text-left">
            <span asp-validation-for="ProductName"></span><br>
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName">
            <br>
            <span asp-validation-for="Description"></span><br>
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
             <br>
            <span asp-validation-for="Bid"></span><br>
            <label asp-for="Bid"></label>
            <input asp-for="Bid">
             <br>
            <span asp-validation-for="EndDate"></span><br>
            <label asp-for="EndDate"></label>
            <input asp-for="EndDate">
        </div>
        <input type="submit" value="Add">
    </form>  
</div>

    